#########################################################
# EXTRUDER
#########################################################

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg
tuning_goal: performance
voltage: 24

[tmc2209 extruder]
uart_pin: EBB:PA15
interpolate: True
run_current: .65
sense_resistor: 0.110
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

[extruder]
step_pin: EBB:PD0
dir_pin: EBB:PD1
enable_pin: !EBB:PD2
rotation_distance: 4.637
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: EBB:PB13
sensor_type: PT1000
sensor_pin: EBB:PA3
pullup_resistor: 2200
control: mpc
cooling_fan: fan
heater_power: 100

smoothing: 0.5

min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 190
max_extrude_only_distance: 150
max_extrude_cross_section: 5.0
pressure_advance_smooth_time: 0.020

[filament_switch_sensor orbiter_sensor]
pause_on_runout: False
runout_gcode:
    {% if printer.print_stats.state == "printing" %}
        UNLOAD_FILAMENT
    {% endif %}
insert_gcode:
    LOAD_FILAMENT
switch_pin: EBB:PB5
    
[gcode_button filament_unload]
pin: EBB: PB6 # remove the negation "!" for sensor v1 - use just PA9 as example
release_gcode:  # filament unload procedure   
  UNLOAD_FILAMENT
press_gcode: # do not add any macro call here